{% extends "base.html" %}

{% block blockcontent %}

<nav class="navbar bg-primary mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="fs-3">Todo List</span></a>
    </div>
</nav>

<div class="card m-3" style="width:30rem">
    <div class="card-body">
        <h5 class="card-title">これからのTodo</h5>
        <ul class="m-3">
            {%for task in tasks: %}
            {% if not task.completed %}

            <li class="d-flex flex-row gap-3 items-center">
                <p class="w-25">{{task.content}}</p>
                <p class="w-30">{{task.due_date}}</p>
                <form method="POST" action="{{url_for('toggle_complete', id = task.id)}}">
                    <button type="submit" class="btn btn-primary">完了</button>
                </form>
                <form method="POST" action="{{url_for('delete_task', id = task.id)}}">
                    <button type="submit" class="btn btn-danger">削除</button>
                </form>
            </li>

            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card m-3" style="width:30rem">
    <div class="card-body">
        <h5 class="card-title">完了済みのTodo</h5>
        <ul class="m-3">
            {%for task in tasks: %}
            {% if task.completed %}

            <li class="d-flex flex-row gap-3 align-items-center">
                <p class="w-25">{{task.content}}</p>
                <p class="w-30">{{task.due_date}}</p>
                <form method="POST" action="{{url_for('toggle_complete', id = task.id)}}">
                    <button type="submit" class="btn btn-primary">もどす</button>
                </form>
                <form method="POST" action="{{url_for('delete_task', id = task.id)}}">
                    <button type="submit" class="btn btn-danger">削除</button>
                </form>
            </li>

            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<button type="button" onclick="location.href='{{ url_for('todo.todo_get') }}'"   class="btn btn-primary m-3">
    タスクの追加
</button>
<form action="logout">
    <button type="submit" class="btn btn-danger m-3">
        ログアウトする
    </button>
</form>

{% endblock %}